{{template "base" .}}
{{define "title"}}
Запрос/ответ
{{end}}
{{define "main"}}
<ul class="uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">Запрос</a></li>
    <li><a href="#">Результаты</a></li>
</ul>
<ul class="uk-switcher uk-margin">
    <li>{{template "request" .}}</li>
    <li>{{template "list" .}}</li>
</ul>
{{end}}