{{define "request"}}
<form class="uk-form-horizontal uk-margin-large" action="/resp/response" method="POST">
<textarea name="list_headers" rows="25" cols="60" style="white-space: pre-line;" spellcheck="false">{{range $index, $element := .Headers}}{{ $index }}: {{ $element }}~&#13;&#10;{{else}}<div><strong>No data</strong></div>{{end}}</textarea>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">URL</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="URL" name="url">
        </div>
    </div>

    Символ для выделения места изменения значений ¡

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">DATA JSON</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="DATA" name="data">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-select">METHOD</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-horizontal-select" name="method">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
            </select>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Добавить журнал для BruteForce</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Путь к файлу" name="bf_journal">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Диапазон значений</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="number" min="0" max="1000" placeholder="0-1000" name="values">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Шаг</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-horizontal-text" type="number" min="0" max="1000" placeholder="1" name="step">
        </div>
    </div>


<button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Отправить</button>

</form>
{{end}}