{{template "base" .}}

{{define "title"}}
	Response list
{{end}}

{{define "main"}}
	<table class="uk-table uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th>StatusCode</th>
            <th>Headers</th>
            <th>Ttf</th>
        </tr>
    </thead>
    <tbody>
        {{range $key, $value := .ResponseList.Rows}}
        <tr>
			<td>{{$value.Value.StatusCode}}</td>
			<td>
			{{range $key_header, $value_header := $value.Value.Headers}}
				{{$key_header}}: {{$value_header}}
			{{end}}
			</td>
			<td>{{$value.Value.Ttf}}</td>
			<td>{{$value.Value.Body}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}