{{template "base" .}}

{{define "title"}}
	SQLi Test Page
{{end}}
 
{{define "main"}}
	<br>
	<form>
    	<input class="uk-input uk-form-blank uk-form-width-medium" type="text" placeholder="SQL input there">
	</form>
{{end}}