{{template "base" .}}

{{define "title"}}
	SQLi Test Page
{{end}}
 
{{define "main"}}
	<br>
	<form method="POST" action="byerror">
    	<input class="uk-input uk-form-blank uk-form-width-medium" type="text" name="id" placeholder="SQL by error">
    	<button type="submit">Send</button>
	</form>
{{end}}