{{define "base"}}
<!doctype html>
<html lang='ru'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css">
    </head>
    <body>
        <header>
            {{template "header" .}}
        </header>
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
    </body>
</html>
{{end}}