{{define "header"}}
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Главная</a></li>
            <li>
                <a href="#">Модули</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">HTTP</a></li>
                        <li><a href="/http_module/index">HttpSend</a></li>
                        <li class="uk-active"><a href="#">SQLi</a></li>
                        <li><a href="/sqli_ui/testUrl">SqliUrlTest</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>
{{end}}